{% extends 'main.html' %}

{% block title %}
Accueil Enseignants
{% endblock %}

{% block content %}
    <h1>Liste des Enseignants</h1>
    <a href="{% url 'enseignants_ajout' %}">Ajouter un enseignant</a>
    <ol>
        {% for enseignant in liste %}
            <li>{{ enseignant.nom }} {{ enseignant.prenom }} <br>
                <a href="{% url 'enseignants_update' enseignant.id %}">Mise à jour</a>
                <a href="{% url 'enseignants_delete' enseignant.id %}">Supprimer</a>
            </li>
        {% endfor %}
    </ol>
{% endblock %}
