{% extends 'main.html' %}

{% block title %}
Accueil
{% endblock %}

{% block content %}
    <br><br>
<a href="/gdnapp/notes/ajout/">Ajouter une note</a>
<a href="/gdnapp/notes/upload/">Ajouter une notes via un fichier</a>
<a href="/gdnapp/">Retour au menu</a>
<h1>Voici toutes les notes :</h1>
<ol style="list-style-type:none;">
    {% for p in liste %}
    <li>{{p}} <br><br> <a href="/gdnapp/notes/update/{{p.id}}/">mise à jour</a>&nbsp <a href="/gdnapp/notes/delete/{{p.id}}/">supprimer</a></li><br>
    {% endfor %}
</ol>

{% endblock %}
