{% extends 'main.html' %}

{% block title %}
Accueil
{% endblock %}

{% block content %}
    <br><br>
<a href="/gdnapp/ressource/ajout/">Ajouter une ressources</a>
<a href="/gdnapp/">Retour au menu</a>
<h1>Voici toutes les ressources : </h1>
<ol style="list-style-type:none;">
    {% for w in liste %}
    <li>{{w}} <br><br> <a href="/gdnapp/ressource/update/{{w.id}}/">mise à jour</a>&nbsp <a href="/gdnapp/ressource/delete/{{w.id}}/">supprimer</a></li><br>
    {% endfor %}
</ol>

{% endblock %}
