{% extends 'main.html' %}

{% block title %}
Accueil Ressources
{% endblock %}

{% block content %}
    <h1>Liste des Ressources</h1>
    <a href="/gdnapp/ressources/ajout/">Ajouter une ressource</a>
    <ol>
        {% for ressource in liste %}
            <li>{{ ressource.code_ressource }} - {{ ressource.nom }} <br>
                <a href="/gdnapp/ressources/update/{{ ressource.id }}">Mise à jour</a>
                <a href="/gdnapp/ressources/delete/{{ ressource.id }}">Supprimer</a>
            </li>
        {% endfor %}
    </ol>
{% endblock %}
