<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
    {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'gdnapp/index.css' %}">
</head>
<body>


<aside id="sidebar"></aside>
{% block sidebar %}
<br>
<nav>
    <a href ="/gdnapp/etudiant/index"> Etudiant</a>
    <a href ="/gdnapp/UE/index"> UE</a>
    <a href ="/gdnapp/ressource/index"> Ressources</a>
    <a href ="/gdnapp/enseignant/index"> Enseignants</a>
    <a href ="/gdnapp/examen/index"> Examen</a>
    <a href ="/gdnapp/notes/index"> Notes</a>
</nav>

{% endblock %}
</aside>

<br>

<section>
{% block content %}
contenu
{% endblock %}
    <br>
</section>
</body>
</html>